<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ConfigIdiomaAR" value="E:\Entrevistas Examenes\ConsoleApp2\Idiomas\language-AR.json" />
    <add key="ConfigIdiomaUS" value="E:\Entrevistas Examenes\ConsoleApp2\Idiomas\language-US.json" />

  </appSettings>
</configuration>